<footer>
<div class="footer-wrapper">
  <div class="footer-area footer-padding">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8">
      <div class="single-footer-caption mb-50">
        <div class="single-footer-caption mb-30">

          <div class="footer-logo mb-35">
            <a href="index.html"><img src="assets/img/logo/xlogo2_footer.png.pagespeed.ic.VOgRFL1W6n.webp" alt=""></a>
          </div>
          <div class="footer-tittle">
            <div class="services">
              <p>Land behold it created good saw after she'd Our set living. Signs midst dominion creepeth morning laboris nisi ufsit aliquip.</p>
            </div>

            <div class="footer-social">
              <a href="#"><i class="fab fa-twitter-square"></i></a>
              <a href="#"><i class="fab fa-facebook-square"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
              <a href="#"><i class="fab fa-pinterest-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
      <div class="single-footer-caption mb-50">
        <div class="footer-tittle footer-pera">
          <h4 class='ml-2' style='font-size: 25px;font-weight: bold;'>Navigation</h4>
          <ul>
          <li><a href="#" class='services'>Home</a></li>
          <li><a href="#" class='services'>About</a></li>
          <li><a href="#" class='services'>Services</a></li>
          <li><a href="# " class='services'>Blog</a></li>
          <li><a href="#" class='services'>Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-8 col-sm-6">
      <div class="single-footer-caption mb-50 footer-pera">
          <div class="footer-tittle">
            <h4 class='ml-3 'style='font-size: 25px;font-weight: bold;'>Services</h4>
            <ul>
            <li><a href="#" class='services'>Blackforest</a></li>
            <li><a href="#" class='services'>Bodhubon</a></li>
            <li><a href="#" class='services'>Rongdhonu</a></li>
            <li><a href="#" class='services'>Meghrong</a></li>
            </ul>
          </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-8">
        <div class="single-footer-caption mb-50 footer-pera">
          <div class="footer-tittle mb-20 ">
            <h4 style='font-size: 20px;font-weight: bold;'> Contact Us</h4>
            <p class='services'>76/A, Green Lane, Dhanmondi, NYC</p>
            <p class='services'>demomail89@gmail.com</p>
          </div>
          <ul class="mb-20 footer-pera">
          <li ><a class="number" href="#">+10 (78) 738-9083</a></li>
        </ul>
        </div>
    </div>
  </div>
  </div>
  </div>

    <div class="footer-bottom-area">
      <div class="container">
        <div class="footer-border">
          <div class="row">
            <div class="col-xl-12 ">
              <div class="footer-copy-right text-center services ">
                <p>Copyright ©2022 All rights reserved | This template is made with <i class="fa fa-heart color-danger" aria-hidden="true"></i> by <a >Ahmad Nadeem</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>